.wrapper {
  container-type: inline-size;
  container-name: main-container;
}
.wrapper .banner {
  transition: 500ms;
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1px;
}
.wrapper .sm-banner {
  display: none;
}
.wrapper .banner .item {
  display: flex;
  justify-content: end;
  overflow: hidden;
  border-right: 1px solid var(--white);
  flex-direction: column;
}
.wrapper .banner .item:last-child {
  border: none;
}
.wrapper .banner .item .contents {
  transition: 500ms;
  padding-left: 2rem;
  padding-bottom: 2rem;
  opacity: 0;
}
.wrapper .banner .item1:hover .contents {
  opacity: 1;
}
.wrapper .banner .item2:hover .contents {
  opacity: 1;
}
.wrapper .banner .item3 .contents {
  opacity: 1;
}
.wrapper .banner .item3:hover .contents {
  opacity: 1;
}
.wrapper .banner .item4:hover .contents {
  opacity: 1;
}
.wrapper .banner .item5:hover .contents {
  opacity: 1;
}
/* ============ */
.wrapper .banner:has(.item1:hover) .item3 .contents {
  opacity: 0;
}
.wrapper .banner:has(.item1:hover) .item3 {
  filter: grayscale(100%);
  opacity: 0.5;
}
.wrapper .banner:has(.item2:hover) .item3 .contents {
  opacity: 0;
}
.wrapper .banner:has(.item2:hover) .item3 {
  filter: grayscale(100%);
  opacity: 0.5;
}
.wrapper .banner:has(.item4:hover) .item3 .contents {
  opacity: 0;
}
.wrapper .banner:has(.item4:hover) .item3 {
  filter: grayscale(100%);
  opacity: 0.5;
}
.wrapper .banner:has(.item5:hover) .item3 .contents {
  opacity: 0;
}
.wrapper .banner:has(.item5:hover) .item3 {
  filter: grayscale(100%);
  opacity: 0.5;
}
/* ======== */

.wrapper .banner .item .display h1 {
  color: var(--white);
  width: 10ch;
}
.wrapper .banner .item1 {
  background: url("../../images/banner1.jpg") no-repeat center;
  background-size: cover;
  filter: grayscale(100%);
  transition: 500ms;
  opacity: 0.5;
}
.wrapper .banner .item1:hover {
  filter: grayscale(0);
  opacity: 1;
  animation: banner-bg-anim 30s ease-in-out;
}
.wrapper .banner .item1 img {
  max-width: 45px;
}
.wrapper .banner .item a {
  width: 7rem;
  height: 7rem;
  background-color: var(--highlight);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100rem;
  margin-bottom: 1rem;
}
.wrapper .banner .item2 {
  background: url("../../images/banner2.jpg") no-repeat center;
  background-size: cover;
  filter: grayscale(100%);
  transition: 500ms;
  opacity: 0.5;
}
.wrapper .banner .item2:hover {
  filter: grayscale(0);
  opacity: 1;
  animation: banner-bg-anim 30s ease-in-out;
}
.wrapper .banner .item3 {
  background: url("../../images/banner3.jpg") no-repeat center;
  background-size: cover;
  filter: grayscale(0%);
  transition: 500ms;
  opacity: 1;
}
.wrapper .banner .item3:hover {
  filter: grayscale(0);
  opacity: 1;
  animation: banner-bg-anim 30s ease-in-out;
}
.wrapper .banner .item4 {
  background: url("../../images/banner4.jpg") no-repeat center;
  background-size: cover;
  filter: grayscale(100%);
  transition: 500ms;
  opacity: 0.5;
}
.wrapper .banner .item4:hover {
  filter: grayscale(0);
  opacity: 1;
  animation: banner-bg-anim 30s ease-in-out;
}
.wrapper .banner .item5 {
  background: url("../../images/banner5.jpg") no-repeat center;
  background-size: cover;
  filter: grayscale(100%);
  transition: 500ms;
  opacity: 0.5;
}
.wrapper .banner .item5:hover {
  filter: grayscale(0);
  opacity: 1;
  animation: banner-bg-anim 30s ease-in-out;
}

/* .wrapper .banner:has(.item1:hover) {
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
}
.wrapper .banner:has(.item2:hover) {
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
}
.wrapper .banner:has(.item3:hover) {
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
}
.wrapper .banner:has(.item4:hover) {
  grid-template-columns: 1fr 1fr 1fr 2fr 1fr;
}
.wrapper .banner:has(.item5:hover) {
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
}

.wrapper .banner.auto-play {
  animation: banner-animation 10s ease-in-out infinite;
}

@keyframes banner-animation {
  0% {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  20% {
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  }
  40% {
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
  }
  60% {
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  }
  80% {
    grid-template-columns: 1fr 1fr 1fr 2fr 1fr;
  }
  100% {
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
  }
} */

@keyframes banner-bg-anim {
  from {
    background-position: 1 0;
  }
  to {
    background-position: 0.1% 0;
  }
}
@container main-container (max-width: 1024px) {
  .wrapper .banner {
    display: none;
  }
  .wrapper .sm-banner {
    display: block;
    width: 100%;
    height: 100vh;
    background: url("../../images/banner3.jpg") no-repeat center;
    background-size: cover;
    border-radius: 0 0 var(--radius) var(--radius);
  }
}
