@import "../components/banner.css";

.loading-bg {
  position: absolute;
  z-index: 9999;
  background-color: var(--dark90);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
  transition: top 1s ease-in-out;
}
.loading-bg .progress-bar {
  width: 0%;
  height: 1px;
  background-color: var(--dark50);
  transition: width 2s ease-in-out;
}
.loading-bg .progress-bar.active {
  width: 100%;
}
.loading-bg .counter {
  position: absolute;
  left: 2rem;
  animation: counting 3s ease-in-out forwards;
}
.loading-bg img {
  position: absolute;
  left: calc(50% - 34px);
  top: calc(50% - 34px);
}
@keyframes counting {
  from {
    bottom: 10%;
  }
  to {
    color: var(--dark90);
    bottom: 80%;
  }
}

.wrapper {
  width: 100vw;
  overflow-x: hidden;
  position: relative;
}

.wrapper .container {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
  container-type: inline-size;
  container-name: main-container;
}

.title-wrap {
  display: flex;
  justify-content: space-between;
}
.title-wrap .display h1 {
  position: relative;
  display: inline-block;
  z-index: 1;
  max-width: 18ch;
}
.title-wrap .globe-graphics {
  background: url("../../images/globe.png") no-repeat center;
  max-height: 189px;
}
.title-wrap .globe-graphics img {
  will-change: transform;
  animation: rotating-text 10s linear infinite;
}
@keyframes rotating-text {
  100% {
    transform: rotate(360deg);
  }
}

.wrapper .container .brief {
  display: flex;
  /* grid-template-columns: 1fr 2fr; */
  /* grid-template-columns: minmax(320px, 1fr) minmax(550px, 2fr); */
}
.wrapper .container .brief .imgwrap {
  flex: 1;
  overflow: hidden;
  max-height: 730px;
  border-radius: var(--radius);
  aspect-ratio: 1/1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 500ms ease-in-out;
}
.wrapper .container .brief .blur-load {
  background: url(../../images/brief-ll.jpg) center;
  background-size: cover;
}
.wrapper .container .brief .blur-load.loaded img {
  opacity: 1;
}
.wrapper .container .brief .blur-load img {
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}
@layer layer1 {
  .wrapper .container .brief .imgwrap {
    opacity: 0;
    transform: translateY(100px);
  }
}
@layer layer2 {
  .show {
    transform: translateY(0);
    opacity: 1;
  }
}
.wrapper .container .brief .imgwrap img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  transform: scale(1.2);
}
.wrapper .container .brief:hover .imgwrap img {
  animation: img-anim 20s ease-in-out;
}
@keyframes img-anim {
  0% {
    transform: scale(1.2) translateX(0px);
  }
  100% {
    transform: scale(1.4) translateX(-50px);
  }
}
.wrapper .container .brief .contents {
  align-self: end;
  padding-left: 8rem;
  flex: 2;
}
.wrapper .container .brief .contents h1 {
  padding-bottom: 3rem;
  max-width: 20ch;
}

.featuresgrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  min-height: 36rem;
}

.featuresgrid .item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  transition: all 0.5s ease-in-out;
  padding: 1rem;
}

.featuresgrid .item:hover {
  background-color: var(--highlight);
  border-radius: var(--radius);
  cursor: pointer;
}

.featuresgrid .item:hover h2,
.featuresgrid .item:hover p {
  color: var(--white);
}
.featuresgrid .item:hover img {
  filter: invert(100%);
}

.featuresgrid .item p {
  width: 15ch;
}
.featuresgrid .item:nth-child(n + 1):nth-child(-n + 4) {
  border-bottom: 1px solid var(--border);
}
.featuresgrid .item:nth-child(n + 1):nth-child(-n + 3) {
  border-right: 1px solid var(--border);
}
.featuresgrid .item:nth-child(n + 5):nth-child(-n + 7) {
  border-right: 1px solid var(--border);
}

.productScroll {
  display: flex;
}

.scroll-content {
  will-change: transform;
  display: flex;
  animation: scroll 20s linear infinite;
  width: fit-content;
  white-space: nowrap;
  gap: 2rem;
  padding-top: 1rem;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.scroll-content .item {
  background-color: var(--lighter);
  min-width: 220px;
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  justify-content: center;
}
.scroll-content:hover {
  animation-play-state: paused;
}
.scroll-content .item:hover {
  cursor: pointer;
}
.scroll-content .item img {
  height: 100%;
}

.video-section {
  display: flex;
  justify-content: space-between;
}
.video-section .video {
  border-radius: var(--radius);
  overflow: hidden;
  aspect-ratio: 2/1;
}
.video-section .video video {
  max-width: 934px;
}
.video-section .values-wrap {
  display: flex;
  flex-direction: column;
}
.video-section .values-wrap .values {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid var(--border);
  padding: 2rem 0;
}

.video-section .values .body p {
  max-width: 20ch;
}

/* Breakpoints */
@media (max-width: 1440px) {
  .wrapper .container {
    width: 90%;
    margin-top: 8rem;
  }
  .featuresgrid {
    grid-template-columns: repeat(auto-fit, minmax(230.4px, 1fr));
  }
}

@container main-container (max-width: 1200px) {
  .video-section .video {
    max-width: 600px;
    aspect-ratio: 2/1;
  }
  .wrapper .container .brief .contents {
    padding-left: 7%;
  }
  .scroll-content .item {
    min-width: 160px;
    padding: 1rem;
  }
}

@container main-container (max-width: 1024px) {
  .wrapper .container {
    margin-top: 6rem;
  }
  .globe-graphics {
    display: none;
  }
  .container .brief {
    flex-direction: column;
  }
  .wrapper .container .brief .imgwrap {
    aspect-ratio: 3/1;
  }
  .wrapper .container .brief .contents {
    padding-top: 6rem;
    padding-left: 0;
  }
  .video-section .values-wrap .values {
    padding: 1rem 0;
  }
  .video-section {
    flex-direction: column;
  }
  .video-section .values-wrap {
    flex-direction: row;
    justify-content: space-between;
  }
  .video-section .values-wrap .values {
    border-bottom: none;
    border-right: 1px solid var(--border);
    padding: 1rem;
  }
  .video-section .values-wrap .values:last-child {
    border-right: none;
  }
  .video-section .video {
    max-width: 100%;
    margin-top: 2rem;
  }
}
@container main-container (769px <= width <= 1023px) {
  .featuresgrid .item:nth-child(n + 1):nth-child(-n + 6) {
    border-bottom: 1px solid var(--border);
  }
  .featuresgrid .item:nth-child(n + 1):nth-child(-n + 2) {
    border-right: 1px solid var(--border);
  }
  .featuresgrid .item:nth-child(n + 4):nth-child(-n + 5) {
    border-right: 1px solid var(--border);
  }
  .featuresgrid .item:nth-child(n + 7):nth-child(-n + 8) {
    border-right: 1px solid var(--border);
  }
  .featuresgrid .item:nth-child(3):nth-child(-n + 8) {
    border-right: none;
  }
  .featuresgrid .item:nth-child(6):nth-child(-n + 8) {
    border-right: none;
  }
}

@container main-container (max-width: 768px) {
  .featuresgrid .item:nth-child(n + 1):nth-child(-n + 6) {
    border-bottom: 1px solid var(--border);
  }
  .featuresgrid .item:nth-child(n + 1):nth-child(-n + 2) {
    border-right: 1px solid var(--border);
  }
  .featuresgrid .item:nth-child(n + 4):nth-child(-n + 5) {
    border-right: 1px solid var(--border);
  }
  .featuresgrid .item:nth-child(n + 7):nth-child(-n + 8) {
    border-right: 1px solid var(--border);
  }
  .featuresgrid .item:nth-child(3):nth-child(-n + 8) {
    border-right: none;
  }
  .featuresgrid .item:nth-child(6):nth-child(-n + 8) {
    border-right: none;
  }
}
@container main-container (max-width: 480px) {
  .loading-bg {
    height: 100svh;
  }
  .wrapper .container {
    margin-top: 3rem;
  }
  .wrapper .container .brief .imgwrap {
    aspect-ratio: 3/1.5;
  }
  .featuresgrid {
    grid-template-columns: repeat(2, 1fr);
  }
  .featuresgrid .item img {
    width: 60px;
  }
  .scroll-content {
    gap: 1rem;
  }
  .scroll-content .item {
    min-width: 120px;
    height: 120px;
  }
  .video-section .values-wrap .values {
    flex-direction: column;
    text-align: center;
  }
  .video-section .video video {
    max-width: 100%;
  }
}

/* div{
    position: absolute;
    inset: 0; all sides touches the edges
} */
