:root {
  --primary: #1e4164;
  --highlight: #00aeef;
  --dark90: #1b1b1b;
  --dark70: #404040;
  --dark50: #737373;
  --light: #c2c2c2;
  --border: #efefef;
  --lighter: #f5f5f5;

  --white: #ffffff;

  --radius: 1.25rem;

  /* Display XXL */
  --dl-size-max: 8rem;
  --dl-size-min: 6rem;
  --dl-lineH-min: 110%;
  --dl-lineH-max: 120%;

  /* Display */
  --d-size-max: 6rem;
  --d-size-min: 3rem;
  --d-lineH-min: 110%;
  --d-lineH-max: 110%;

  /* H1 */
  --h1-size-max: 3rem;
  --h1-size-min: 1.8rem;
  --h1-lineH-min: 110%;
  --h1-lineH-max: 120%;

  /* H2 */
  --h2-size-max: 2.25rem;
  --h2-size-min: 1.8rem;
  --h2-lineH-min: 110%;
  --h2-lineH-max: 120%;

  /* H3 */
  --h3-size-max: 1.8rem;
  --h3-size-min: 1.8rem;
  --h3-lineH-min: 110%;
  --h3-lineH-max: 120%;

  /* H4 */
  --h4-size-max: 1.5rem;
  --h4-size-min: 1.5rem;
  --h4-lineH-min: 110%;
  --h4-lineH-max: 120%;

  /* Body XL */
  --bxl-size-max: 8.75rem;
  --bxl-size-min: 1.5rem;
  --bxl-lineH-min: 140%;
  --bxl-lineH-max: 150%;

  /* Body L */
  --bl-size-max: 1.25rem;
  --bl-size-min: 1rem;
  --bl-lineH-min: 150%;
  --bl-lineH-max: 120%;

  /* Body */
  --b-size-max: 1rem;
  --b-size-min: 1rem;
  --b-lineH-min: 120%;
  --b-lineH-max: 120%;

  /* ================ Breakpoints */
  --small: 480px;
  --medium: 768px;
  --large: 1024px;
  --xLarge: 1200px;
  --xxLarge: 1440px;
}

/* 
320px — 480px
481px — 768px
769px — 1024px
1025px — 1200
*/
